torch --extra-index-url https://download.pytorch.org/whl/cu117 
transformers==4.26.0
peft==0.2.0
datasets==2.9.0
accelerate==0.16.0
evaluate==0.4.0
deepspeed
boto3
ninja
rouge-score
nltk
py7zr
tensorboard